profile/.config/variety/Downloaded/*
profile/.config/variety/wallpaper/*
profile/.goutputstream*
profile/mail.bkc.ru
profile/.xsession-errors.old
profile/.Xauthority
profile/.xsession-errors
profile/.bash_history
profile/webmail.bkc.ru
profile/.ICEauthority
profile/.pulse-cookie
profile/.gtk-bookmarks
profile/.gksu.lock
profile/.thumbnails
profile/.fontconfig
profile/.cache
profile/.gnome2/keyrings
profile/.config/bkc-*.log
