favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop
recent=xfce-settings-manager.desktop,exo-terminal-emulator.desktop,users.desktop,exo-web-browser.desktop,update-manager.desktop,firefox.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,jockey-gtk.desktop,skype.desktop
button-title=
button-icon=/usr/share/icons/hicolor/256x256/apps/bkc.png
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
hover-switch-category=false
category-icon-size=1
load-hierarchy=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
menu-width=477
menu-height=576
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
search-actions=4

[action0]
name=Man-страницы
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Википедия
pattern=!w
command=exo-open --launch WebBrowser http://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Выполнить в терминале
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Открыть URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

