[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Optimize FF & TB
Comment=
Exec=/bin/bash -c "bkc-optimize-ff >> ~/.config/bkc-optimize-ff.log; bkc-optimize-tb >> ~/.config/bkc-optimize-tb.log &"
StartupNotify=false
Terminal=false
Hidden=false

